@font-face {
  font-family: "questrialregular";
  src: url("../fonts/questrial/questrial-regular-webfont.eot");
  src: url("../fonts/questrial/questrial-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/questrial/questrial-regular-webfont.woff2") format("woff2"),
       url("../fonts/questrial/questrial-regular-webfont.woff") format("woff"),
       url("../fonts/questrial/questrial-regular-webfont.ttf") format("truetype"),
       url("../fonts/questrial/questrial-regular-webfont.svg#questrialregular") format("svg");
}

@font-face {
  font-family: "acre";
  src: url("../fonts/acre/acre-medium-webfont.woff2") format("woff2"),
       url("../fonts/acre/acre-medium-webfont.woff") format("woff");
}

html {
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}

body {
  width: 1130px;
  background: #f3f3f3;
  margin: 0 auto;
  display: block;
}

h1, h2, h3 {
  font-family: acre, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  position: absolute;
  margin: 0 0 0 281px;
  font-variant: small-caps;
  font-size: 33pt;
}

h1 span {
  color: #fff;
  display: none;
}

h2 {
  font-size: 20pt;
  font-weight: bold;
}

h3 {
  font-size: 12pt;
}

hr {
  border: 0;
  height: 1px;
  background: #e61f26;
  background-image: linear-gradient(to right, #f3f3f3, #e61f26, #f3f3f3);
}

#header {
  background: #2d2d2d;
}

#rear_header {
  width: 100%;
  height: 116px;
  position: absolute;
  background: #2d2d2d;
  top: 0;
  left: 0;
}

#header_image {
  height: 72px;
}

#logo_image {
  position: absolute;
  z-index: 9999;
  margin: 3px 0 0 15px;
  width: 185px;
  height: 113px;
}

#navbar_wrapper {
  position: relative;
  z-index: 8;
  height:44px;
}

#navbar, #mobile_nav {
  color: #b5b5b5;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#navbar {
  padding-left: 220px;
  list-style-type: none;
}

#mobile_nav{
  z-index: 99;
  position: absolute;
  font-family: acre;
  font-size: 40pt;
  padding-left: 160px;
  margin-top: -25px;
}

#mobile_about_options, #mobile_prog_options, #mobile_nav_options {
  display: none;
  width: 250px;
  height: 260px;
  position: absolute;
  background: #e61f26;
  border-radius: 0 0 15px 15px;
}

#mobile_nav_options {
  top: 116px;
  left: 20px;
  z-index: 22;
}

#mobile_about_options, #mobile_prog_options {
  top: 0;
  left: 0;
  z-index: 23;
}


#mobile_main_options {
  display: block;
}

#mobile_nav_options li {
  margin-left: 10px;
}

#social {
  position:absolute;
  background: #2d2d2d;
  border-radius: 5px;
  top: 112px;
  margin-left: 825px;
  z-index: 7;
}

#social ul {
  display: table;
  margin: 4px;
}

#social ul li, #social ul li a {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0 2px;
}

#twitter_wrapper {
  display: none;
  position: absolute;
  z-index: 99;
  top: 116px;
  margin-left: 600px;
  background: #2d2d2d;
  border-radius: 0 0 6px 6px;
  box-shadow: 1px 0px 40px #262626;
}

#twitter_wrapper iframe {
  padding: 3px !important; /* To override styling from twitter */
}

#show_twitter_wrapper, #hide_twitter_wrapper {
  position: absolute;
  z-index: 7;
  background: #2d2d2d;
  color: #b5b5b5;
  font-family: questrialregular, Arial, sans-serif;
}

#show_twitter_wrapper {
  display: block;
  margin-left: 710px;
  border-radius: 0 0 5px 5px;
  font-size: 9pt;
  padding: 5px;
  top: 113px;
}

#hide_twitter_wrapper {
  top: 30px;
  margin-left: 325px;
  font-size: 11pt;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#hide_twitter_wrapper:hover, #show_twitter_wrapper:hover {
  color: #fff;
  cursor: pointer;
}

#facebook_icon, #twitter_icon, #linkedin_icon {
  width: 20px;
  height: 20px;
  margin: 3px;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

#facebook_icon {
  background: url("../images/sprites/sprite.png") 0px 40px;
}

#facebook_icon:hover {
  background: url("../images/sprites/sprite.png") 20px 40px;
}

#twitter_icon {
  background: url("../images/sprites/sprite.png") 0px 81px;
}

#twitter_icon:hover {
  background: url("../images/sprites/sprite.png") 20px 81px;
}

#linkedin_icon {
  background: url("../images/sprites/sprite.png") 0px 60px;
}

#linkedin_icon:hover {
  background: url("../images/sprites/sprite.png") 20px 60px;
}

#instagram_icon {
  background: url("../images/sprites/sprite.png") 0px 20px;
}

#instagram_icon:hover {
  background: url("../images/sprites/sprite.png") 20px 20px;
}

#youtube_icon {
  background: url("../images/sprites/sprite.png") 0px 101px;
}

#youtube_icon:hover {
  background: url("../images/sprites/sprite.png") 21px 101px;
}

#main_wrapper {
  display: table;
}

#main {
  display: table-cell;
  vertical-align: top;
}

#sidebar {
  display: table-cell;
  vertical-align: top;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: #2d2d2d;
}

#standard_address {
  display: block;
}

#mobile_address {
  display: none;
}

.imagery, .halfimagery {
  vertical-align: top;
}

.inline_flex_override {
  display: inline-flex !important;
}

.standard_main {
  width: 800px;
}

.full_main {
  width: 1130px;
}

.standard_sidebar {
  width: 330px
}

.equal_main {
  width: 600px;
}

.equal_sidebar {
  width: 530px;
}

#sidebar table th, #sidebar table td {
  border: none;
  vertical-align: top;
  text-align: left;
  font-size: 11pt;
}

.pad13 {
  padding: 13px;
}

.navlist li a {
  display: block;
}

.navlist li {
  display: inline-block;
  font-size: 13pt;
  font-weight: normal;
  cursor: pointer;

  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.navlist li:hover {
  background: #e61f26;
  color: #2d2d2d;
}

.sidebar_list {
  padding: 0 0 0 25px;
  margin: 10px 0;
}

#dropdown_image1, #dropdown_image2 {
  position: absolute;
  z-index: 5;
  height: 200px;
  width: 300px;
  left: 610px;
  top: 120px;
  display: none;
}

#about_dropdown {
  margin: 12px 0 0 -13px;
}

#programmes_dropdown {
  margin: 12px 0 0 -110px
}

.dropdown_back {
  background: #e61f26;
  position: absolute;
  z-index: 4;
  left: 0;
  top: 116px;
  height: 210px;
  width:100%;
  display: none;
}

.dropdown {
  background: #e61f26;
  color: #2d2d2d;
  padding: 5px 0;
  position: absolute;
  z-index: 6;
}

.dropdown li a, .dropdown li span {
  display: block;
  padding: 8px;
  cursor: pointer;
}

.dropdown li {
  display: block;
  font-weight: normal;
}

.dropdown li:hover {
  background-color: #b5b5b5;
}

.article_img {
  border-top: solid 4px #2d2d2d;
  border-bottom: solid 4px #2d2d2d;
}

.stroke text {
  fill: #fff;
  stroke: #000;
  fill-opacity: 1;
  stroke-width: 2px;
  stroke-linecap: square;
  stroke-linejoin: round;
  stroke-opacity: 1;
}

.headline {
  font-size: 14pt;
  font-family: acre;
  text-align: justify;
}

.google_map {
  /* Important required to override google styling */
  border: none !important;
  border-top: solid black 1px !important;
  border-bottom: solid black 1px !important;
}

.centred {
  display: block;
  margin: 0 auto;
}

.centred_text {
  text-align: center;
}

.left_text {
  text-align: left;
}

.justified {
  text-align: justify;
}

.standard_text {
  font-family: questrialregular, arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.standard_size {
  font-size: 12pt;
}

.standard_link {
  text-decoration: none;
  color: #0800ff;
}

.standard_link:hover {
  color: #5954ff;
}

.muted_link, .muted_link:active, .muted_link:visited {
  text-decoration: none;
  color: inherit;
  background: none;
}

.pop_out_box {
  box-shadow: 1px 5px 20px #8c8c8c;
  padding: 20px;
}

.small_margin {
  margin: 10px;
}

.medium_margin {
  margin: 30px;
}

.large_margin {
  margin: 30px 60px;
}

.medium_padding {
  padding: 30px;
}

.no_margin {
  margin: 0;
}

.no_padding {
  padding: 0;
}

.spaced_list li {
  margin-bottom: 10px;
}

.margin10top {
  margin-top:10px;
}

.margin20top {
  margin-top: 20px;
}

.margin50top {
  margin-top: 50px;
}

.margin80top {
  margin-top: 80px;
}

.margin100top {
  margin-top: 100px;
}

.no_display {
  display: none;
}

.no_margin_top_bottom {
  margin-top: 0px;
  margin-bottom: 0px;
}

.partner_image {
  margin-bottom: -100px;
}

.partner_image img {
  position: relative;
  z-index: 1;
}

.partner_image p {
  position: relative;
  top: -288px;
  z-index: 2;
  left: 0;
  color: white;
  background: rgba(62, 62, 62, 0.41);
  width: 255px;
  padding: 15px;
  text-align: left;
  font-weight: bold;
  font-size: 14pt;
  line-height: 1.2;
}

.partner_image p span {
  font-size: 12pt;
}

.white_text {
  color: #e0e0e0;
}

.full_width_img {
  width: 1130px;
  height: auto;
}

/* Our Team Tables */
#team_table {
  margin: 20px auto;
  border-spacing: 0px;
}

#team_table th {
  padding: 6px;
  cursor: pointer;
}

#management_team {
  display: block;
  height: 320px;
}

#kohima_ho, #finance_team, #dimapur_team, #mok_team, #pfo_team {
  display: none;
  height: 320px;
}

#team_table .inactive_team, #team_table .active_team, #team_table .solo_content_cell {
  border: solid black 1px;
}

#team_table .solo_content_cell {
  border-top: none;
}

#team_table .solo_content_cell div table {
  padding: 30px 10px;
  margin: auto;
}

#team_table .solo_content_cell div table td {
  padding: 0 10px 10px 10px;
  vertical-align: top;
  border: none;
  border-left: dotted #b5b5b5 1px;
}

#team_table .active_team {
  border-bottom: none;
}

#team_table .no_border_row {
  border: none;
}

.inactive_team {
  font-weight: normal;
  background: #babeff;

  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.inactive_team:hover {
  background: #8c93ff;
}

.team_mate {
  font-weight: bold;
  color: #08006b;
}

.email {
  font-size: 10pt;
  text-decoration: none;
  color: #690000;
}

.email:hover {
  color: #ff0000;
}
/* END Team Tables */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  h1 {
    font-size: 40pt;
  }
}

@media screen and (max-width: 1131px) {
  body {
    width: 100%;
  }

  #main_wrapper, #main, #sidebar {
    display: block !important;
  }

  .standard_main {
    width: 100%;
  }

  .full_width_img {
    width: 100%;
  }

  .imagery {
    width: 99%;
  }

  .halfimagery {
    width: 49%;
  }
}

@media screen and (max-width: 1010px) {
  #sidebar table {
    margin: 0 auto;
  }

  .inline_flex_override {
    display: block !important;
  }

  .medium_margin {
    margin: 15px;
  }

  .pop_out_box {
    box-shadow: none;
    padding: 0;
  }
  /*Where to find us map*/
  #standard_address {
  display: none;
  }

  #mobile_address {
    display: block;
  }
  /* end */
}

@media screen and (max-width: 990px) {
  #navbar {
    display: none;
  }

  #show_twitter_wrapper {
    display: none;
  }

  #logo_image {
    margin: 10px 0 0 15px;
    width: 111px;
    height: 62px;
  }

  #social {
    margin: -32px 0 0 -3px;
    z-index: 999;
  }

  #social ul li {
    margin: 0 3px;
  }

  h1 svg {
    display: none !important;
  }

  h1 span {
    display: none !important;
  }

  #mobile_nav {
    cursor: pointer;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  #google_map_id {
    width: 500px;
  }
}

@media screen and (max-width: 540px) {
  #google_map_id {
    width: 450px;
  }
}

/* iPhones and iPads can't handle the layout on the software page.

  iPhone 4 variations*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  h1 svg {
    display: none;
  }

  h1 span {
    display: block;
  }
}
/*iPhone 5 variations*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  h1 svg {
    display: none;
  }

  h1 span {
    display: block;
  }
}
/*iPhone 6 variations*/
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  h1 svg {
    display: none;
  }

  h1 span {
    display: block;
  }
}
/* iPad Mini */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  h1 svg {
    display: none;
  }

  h1 span {
    display: block;
  }
}
/* iPad 1/2 */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  h1 svg {
    display: none;
  }

  h1 span {
    display: block;
  }
/* iPad 3/4 */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
  h1 svg {
    display: none;
  }

  h1 span {
    display: block;
  }
}
